<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
  <test verbose="2" preserve-order="true" name="D:/Niranjana_Class/IntelliJSamples/JavaSeleniumAutomation/src/test/java/seleniumDayEight/IppoPayTest.java">
    <classes>
        <class name="seleniumDayEight.IppoPayTest">
        <methods>
            <include name="validData"/>
            <include name="invalidData"/>
        </methods>
    </class>
    </classes>
  </test>
</suite>